hortus.nosqldb/bin/Debug/netcoreapp3.1/Cosmos.CRTCompat.dll
hortus.nosqldb/bin/Debug/netcoreapp3.1/hortus.nosqldb.deps.json
hortus.nosqldb/bin/Debug/netcoreapp3.1/hortus.nosqldb.dll
hortus.nosqldb/bin/Debug/netcoreapp3.1/hortus.nosqldb.pdb
hortus.nosqldb/bin/Debug/netcoreapp3.1/Microsoft.Azure.Cosmos.ServiceInterop.dll
hortus.nosqldb/obj/hortus.cosmosdb.csproj.nuget.dgspec.json
hortus.nosqldb/obj/hortus.cosmosdb.csproj.nuget.g.props
hortus.nosqldb/obj/hortus.cosmosdb.csproj.nuget.g.targets
hortus.nosqldb/obj/hortus.nosqldb.csproj.nuget.dgspec.json
hortus.nosqldb/obj/hortus.nosqldb.csproj.nuget.g.props
hortus.nosqldb/obj/hortus.nosqldb.csproj.nuget.g.targets
hortus.nosqldb/obj/project.assets.json
hortus.nosqldb/obj/project.nuget.cache
hortus.nosqldb/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.cosmosdb.assets.cache
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.cosmosdb.csproj.FileListAbsolute.txt
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.nosqldb.AssemblyInfo.cs
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.nosqldb.AssemblyInfoInputs.cache
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.nosqldb.assets.cache
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.nosqldb.csproj.CoreCompileInputs.cache
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.nosqldb.csproj.FileListAbsolute.txt
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.nosqldb.csprojAssemblyReference.cache
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.nosqldb.dll
hortus.nosqldb/obj/Debug/netcoreapp3.1/hortus.nosqldb.pdb
hortus.entities/bin/Debug/netcoreapp3.1/hortus.entities.deps.json
hortus.entities/bin/Debug/netcoreapp3.1/hortus.entities.dll
hortus.entities/bin/Debug/netcoreapp3.1/hortus.entities.pdb
hortus.entities/obj/hortus.entities.csproj.nuget.dgspec.json
hortus.entities/obj/hortus.entities.csproj.nuget.g.props
hortus.entities/obj/hortus.entities.csproj.nuget.g.targets
hortus.entities/obj/project.assets.json
hortus.entities/obj/project.nuget.cache
hortus.entities/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
hortus.entities/obj/Debug/netcoreapp3.1/hortus.entities.AssemblyInfo.cs
hortus.entities/obj/Debug/netcoreapp3.1/hortus.entities.AssemblyInfoInputs.cache
hortus.entities/obj/Debug/netcoreapp3.1/hortus.entities.assets.cache
hortus.entities/obj/Debug/netcoreapp3.1/hortus.entities.csproj.CoreCompileInputs.cache
hortus.entities/obj/Debug/netcoreapp3.1/hortus.entities.csproj.FileListAbsolute.txt
hortus.entities/obj/Debug/netcoreapp3.1/hortus.entities.csprojAssemblyReference.cache
hortus.entities/obj/Debug/netcoreapp3.1/hortus.entities.dll
hortus.entities/obj/Debug/netcoreapp3.1/hortus.entities.pdb
__blobstorage__/8e39e172-cacf-4eee-8ebc-5aabd319211f
hortus.storage/bin/Debug/netcoreapp3.1/hortus.storage.deps.json
hortus.storage/bin/Debug/netcoreapp3.1/hortus.storage.dll
hortus.storage/bin/Debug/netcoreapp3.1/hortus.storage.pdb
hortus.storage/obj/hortus.storage.csproj.nuget.dgspec.json
hortus.storage/obj/hortus.storage.csproj.nuget.g.props
hortus.storage/obj/hortus.storage.csproj.nuget.g.targets
hortus.storage/obj/project.assets.json
hortus.storage/obj/project.nuget.cache
hortus.storage/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
hortus.storage/obj/Debug/netcoreapp3.1/hortus.storage.assets.cache
hortus.storage/obj/Debug/netcoreapp3.1/hortus.storage.csproj.FileListAbsolute.txt
hortus.storage/obj/Debug/netcoreapp3.1/hortus.storage.csprojAssemblyReference.cache
hortus.storage/obj/Debug/netcoreapp3.1/hortus.storage.dll
hortus.storage/obj/Debug/netcoreapp3.1/hortus.storage.pdb
hortus.storage/obj/Debug/netcoreapp3.1/hortus.storage.csproj.CoreCompileInputs.cache
hortus.storage/obj/Debug/netcoreapp3.1/hortus.storage.AssemblyInfo.cs
hortus.storage/obj/Debug/netcoreapp3.1/hortus.storage.AssemblyInfoInputs.cache
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
